<style>
  /* Law Status */
  .current {
    background-color: #3A8017;
  }
  .spent {
    color: #0F0F0F;
    background-color: #FFDD00;
  }
  .amended {
    background-color: #FF6A00;
  }
  .repealed {
    background-color: #BA1E0D;
  }
  .rejected {
    background-color: #261111;
  }
  .voteinprogress {
    background-color: #B8008D;
  }
  .obsolete {
    background-color: #F2B200;
  }
  .unknown {
    background-color: #787878;
  }
  /* Law Amendments */
  del {
    color: #C42323;
    text-decoration: line-through;
    font-style: italic;
  }
  ins {
    color: #4779D6;
    font-weight: bold;
  }
</style>